<template lang="pug">
  a-form(@submit.prevent="$emit('submit')")
    a-input(
      placeholder="Basic usage"
      v-model="form.name")
    slot
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
      required: true,
    },
  },
}
</script>
