<template lang="pug">
  div
    breadcrumb(:items="items")
    portal(to="search")
      search(label="Search Reports")
    v-card(outlined)
      v-toolbar(flat)
        v-toolbar-title Reports
        v-spacer
        v-btn(
          color="primary"
          depressed
          @click="$inertia.visit($routes.new_report())"
          v-if="can.create_report") New Report
        
        //- v-input-search(placeholder="input search text" style="width: 200px" v-model="form.q.name_cont" @search="onSearch")
        //- a-table(:pagination="false" :columns="columns" :dataSource="reports.data" :rowKey="record => record.id")
        //-   template(slot="footer")
        //-     pagination(:meta="reports.meta")
  </div>
</template>

<script>
import Icon from '@/shared/Icon'
import { MainLayout } from '@/layouts'
import mapValues from 'lodash/mapValues'

import pickBy from 'lodash/pickBy'
import SearchFilter from '@/shared/SearchFilter'
import Modal from '@/shared/Modal'
import throttle from 'lodash/throttle'

const columns = [
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name'
  },
]

export default {
  metaInfo: { title: 'Reports' },
  layout: MainLayout,
  components: {
    Icon,
    SearchFilter,
    Modal
  },
  props: {
    reports: {
      type: Object,
      required: true,
    },
    filters: {
      type: Object,
      required: true,
    },
    can: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      form: {
        q: {name_cont: ''},
        trashed: this.filters.trashed,
      },
      columns
    }
  },
  computed: {
    items() {
      return [
        {
          text: 'Reports',
          disabled: true,
          href: this.$routes.reports(),
        }
      ]
    }
  },
  methods: {
    reset() {
      this.form = mapValues(this.form, () => null)
    },
    onSearch() {
      let query = pickBy(this.form)
      this.$inertia.replace(
        this.$routes.reports(
          Object.keys(query).length ? query : { remember: 'forget' },
        ),
        {
          preserveState: true,
          preserveScroll: true,
          only: ['reports']
        }
      )
    }
  },
}
</script>
