<template lang="pug">
  report-form(
    :form="form"
    @submit="submit")
    div
      a-button(
        :loading="sending"
         type="primary"
        html-type="submit") Create Report
</template>

<script>
import { MainLayout } from '@/layouts'
import ReportForm from './Form'

export default {
  layout: MainLayout,
  components: {
    ReportForm,
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      form: {},
    }
  },
  methods: {
    submit() {
      this.sending = true
      this.$inertia.post(this.$routes.reports(), this.form).then(() => {
        this.sending = false
        if (Object.keys(this.$page.errors).length === 0) {
          this.form = {}
          this.$emit('success')
        }
      })
    },
  },
}
</script>
