<template lang="pug">
  div
    v-dialog(
      v-model="dialog"
      max-width="500px"
      scrollable)
      v-card
        v-card-title Guide
        v-card-text
          p Please check your ...
        v-card-actions
          v-spacer
          v-btn(
            @click="dialog = false" text) Close
    slot(name="action" :showDialog="showDialog")
</template>

<script>
export default {
  data () {
    return {
      dialog: false
    }
  },
  methods: {
    showDialog () {
      this.dialog = true
    }
  }
}
</script>