<template lang="pug">
  v-flex(
    xs12
    sm8
    md4)
    v-card(flat)
      v-toolbar(
        flat)
        v-toolbar-title LOGIN
        v-spacer
        InfoDialog
          template(#action="{ showDialog }")
            v-btn(icon @click="showDialog" color="primary lighten-1")
              v-icon info
      v-card-text
        v-form
          v-text-field(
            label="Login"
            name="login"
            prepend-inner-icon="person"
            type="text"
            v-model="form.email"
            filled)
          v-text-field(
            label="Password"
            name="password"
            prepend-inner-icon="lock"
            type="password"
            v-model="form.password"
            filled)
          v-checkbox(
            v-model="form.remember_me"
            label="Remember me"
          )
      v-card-actions
        v-spacer
        v-btn.mr-2.mb-2(color="primary lighten-1" depressed @click="submit") Login
  //- a-row(style="margin-top: 40px" type="flex" justify="center" align="top")
  //-   a-col(:xs="24" :sm="12" :md="12" :lg="8" :xl="6")
  //-     a-card
  //-       a-form(@submit.prevent="submit")
  //-         a-form-item
  //-           a-input(
  //-             placeholder="Email"
  //-             v-model="form.email"
  //-           )
  //-             a-icon(slot="prefix" type="user")
  //-         a-form-item
  //-           a-input(
  //-             placeholder="Password"
  //-             type="password"
  //-             v-model="form.password"
  //-           )
  //-             a-icon(slot="prefix" type="lock")
  //-         a-form-item
  //-           a-checkbox(
  //-             placeholder="Password"
  //-             v-model="form.remember_me"
  //-           ) Remember me
  //-         a-button(:loading="sending" html-type="submit" type="primary") Login
</template>

<script>
import { CenteredLayout } from '@/layouts'
import InfoDialog from './_Info'

export default {
  metaInfo: { title: 'Login' },
  layout: CenteredLayout,

  components: {
    InfoDialog
  },

  data() {
    return {
      sending: false,
      form: {
        email: 'johndoe@example.com',
        password: 'secret',
        remember_me: null,
      },
    }
  },
  methods: {
    submit() {
      this.sending = true
      this.$inertia
        .post(this.$routes.user_session(), {
          user: this.form,
        })
        .then(() => (this.sending = false))
    },
  },
}
</script>
