<template lang="pug">
  div
    portal(to="breadcrumb")
      v-breadcrumbs.px-0(:items="routes")
        template(v-slot:item="{ item }")
          v-breadcrumbs-item(
            :href="item.href"
            @click.prevent="handleClick"
            :disabled="item.disabled") {{ item.text }}
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  computed: {
    routes() {
      return [
        {
          text: 'Dashboard',
          disabled: false,
          href: this.$routes.root(),
        },
        ...this.items || []
      ]
    }
  },
  methods: {
    handleClick(e) {
      this.$inertia.visit(e.target.href, {
        method: 'get',
        replace: false,
        preserveState: true,
        preserveScroll: true
      })
    }
  }
}
</script>