<template lang="pug">
  div
    a-pagination(
      :current="meta.page"
      @change="onChange"
      :total="meta.count")
</template>

<script>
export default {
  props: {
    meta: {
      type: Object,
      required: true,
    },
  },

  methods: {
    url(pageNumber) {
      return pageNumber
        ? this.meta.scaffold_url.replace(/__pagy_page__/, pageNumber)
        : null
    },
    active(pageNumber) {
      return this.meta.page == pageNumber
    },
    onChange(page, size) {
      this.$inertia.visit(this.url(page), {
        method: 'get',
        replace: false,
        preserveState: true,
        preserveScroll: true
      })
    }
  },
}
</script>
