<template lang="pug">
  v-text-field(
    flat
    dense
    single-line
    solo-inverted
    hide-details
    prepend-inner-icon="search"
    :label="label"
    :key="key"
    class="hidden-sm-and-down mr-4"
    style="max-width: 320px")
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      required: true
    },
    key: {
      type: String,
      required: true
    }
  }
}
</script>