<template lang="pug">
  v-card(outlined)
      v-toolbar(flat)
        v-toolbar-title Notes
      div(v-if="error") failed to load
      div(v-if="data === undefined && !error")
        v-skeleton-loader(type="list-item-three-line")
      div(v-if="data")
        v-list-item(v-for="i in data.data")
          v-list-item-content
            v-list-item-title {{ i.attributes.title }}
            inertia-link(:href="$routes.edit_note(i.id)") Edit
          v-divider
</template>

<script>
import { ref } from '@vue/composition-api'
import useSWRV from 'swrv'

const fetcher = url => fetch(url).then(r => r.json())

export default {
  setup(props) {
    const endpoint = ref('/api/notes')
    const { data, error } = useSWRV(endpoint.value, fetcher)
    return {
      endpoint,
      data,
      error
    }
  }
}
</script>
