<template lang="pug">
  v-form(@submit.prevent="$emit('submit')")
    v-text-field(
      placeholder="Title"
      label="Title"
      v-model="form.title"
      :error-messages="$page.errors.title"
      filled)
    v-textarea(
      placeholder="Content"
      label="Content"
      v-model="form.content"
      :error-messages="$page.errors.content"
      filled)
    slot
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
      required: true,
    }
  },
}
</script>
