<template lang="pug">
  div
    breadcrumb(:items="items")
    portal(to="search")
      search(label="Search Notes")
    note-form(
      :form="note"
      @submit="submit")
      div
        v-btn(
          :loading="sending"
          type="primary"
          html-type="submit") Save Note
  </template>

<script>
import { MainLayout } from '@/layouts'
import NoteForm from './_Form'

export default {
  metaInfo: { title: 'Notes' },
  layout: MainLayout,
  components: {
    NoteForm
  },
  data() {
    return {
      sending: false,
      form: {},
    }
  },

  remember: 'form',

  props: {
    note: {
      type: Object,
      required: true,
    }
  },

  computed: {
    items() {
      return [
        {
          text: 'Notes',
          disabled: false,
          href: this.$routes.notes(),
        },
        {
          text: 'Edit Note',
          disabled: true
        }
      ]
    }
  },
  methods: {
    submit() {
      this.sending = true
      this.$inertia.post(this.$routes.notes(), this.form).then(() => {
        this.sending = false
        if (Object.keys(this.$page.errors).length === 0) {
          this.form = {}
          this.$emit('success')
        }
      })
    },
  },
}
</script>