<template lang="pug">
  div
    breadcrumb(:items="items")
    portal(to="search")
      search(label="Search Notes" key="note")
    v-card(outlined)
      v-toolbar(flat)
        v-toolbar-title Notes
        v-spacer
        v-btn(
          color="primary"
          depressed
          @click="$inertia.visit($routes.new_note())"
          v-if="can.create_note") New Note
    v-data-iterator(
      :items="notes.data")
      template(v-slot:default="props")
        v-row
          v-col(
            v-for="item in props.items"
            :key="item.id"
            cols="12"
            sm="6"
            md="4"
            lg="3")
            v-card(outlined)
              v-toolbar(flat)
                v-toolbar-title {{ item.title }}
                v-spacer
                v-btn(
                  icon
                  small
                  color="primary"
                  depressed
                  @click="$inertia.visit($routes.edit_note(item.id))")
                  v-icon(small) mdi-pencil
              v-card-title 
              v-divider
              v-card-text
                p {{ item.content }}
          
      //- pagination(:meta="notes.meta")
    //- a-card
    //-   template(slot="title")
    //-     a-row(type="flex" align="space-between")
    //-       a-col
    //-         a-input-search(placeholder="input search text" style="width: 200px")
    //-       a-col
    //-         a-button(
    //-           type="primary"
    //-           @click="modalNew = true") Create Note
    //-   a-list(:dataSource="notes.data" itemLayout="vertical" size="large")
    //-     a-list-item(slot="renderItem" slot-scope="item, index")
    //-       a-list-item-meta
    //-         a(slot="title" href="") {{item.title}}
    //-       span {{item.content}}
    //-       template(slot="actions")
    //-         a-icon(type="setting" key="setting")
    //-         a-icon(type="edit" key="edit")
    //-         a-icon(type="ellipsis" key="ellipsis")
    //-     template(slot="footer")
    //-       
</template>

<script>
import { MainLayout } from '@/layouts'

export default {
  metaInfo: { title: 'Notes' },
  layout: MainLayout,
  props: {
    notes: {
      type: Object,
      required: true,
    },
    filters: {
      type: Object,
      required: true,
    },
    can: {
      type: Object,
      required: true,
    },
  },
  computed: {
    items() {
      return [
        {
          text: 'Notes',
          disabled: true
        }
      ]
    }
  }
}
</script>
