<template lang="pug">
  a-layout(:style="{ minHeight: '100vh' }")
    a-layout-sider(
      :trigger="null"
      :width="240"
      collapsible
      breakpoint="lg"
      collapsedWidth="80"
      v-model="collapsed")
      img(style="width: 120px; margin: 20px auto; display: block" v-show="!collapsed" :src="imagePath('logo.png')")
      img(style="width: 32px; margin: 20px auto; display: block" v-show="collapsed" :src="imagePath('logo-short.png')")
      a-menu(theme="dark" mode="inline" @click="handleClick")
        a-menu-item(:key="$routes.root()")
          a-icon(type="dashboard")
          span Dashboard
        a-menu-item(:key="$routes.reports()")
          a-icon(type="pie-chart")
          span Reports
        a-menu-item(:key="$routes.notes()")
          a-icon(type="user")
          span Notes
    a-layout
      a-layout-header(style="background: #fff;")
        a-row(type="flex" justify="space-between" align="middle")
          a-col
            a-icon(
              class="trigger"
              :type="collapsed ? 'menu-unfold' : 'menu-fold'"
              @click="()=> collapsed = !collapsed")
          a-col
            inertia-link(:href="$routes.destroy_user_session()" method="delete")
              a-button(icon="logout")
      a-layout-content(style="padding: 0 50px")
        portal-target(name="breadcrumb" slim)
        notifications(position="top center")
        slot
</template>

<script>

export default {
  data() {
    return {
      collapsed: false
    }
  },
  methods: {
    handleClick(e) {
      this.$inertia.visit(e.key, {
        method: 'get',
        replace: false,
        preserveState: true,
        preserveScroll: true
      })
    }
  }
}
</script>
