<template lang="pug">
  v-app(
    :style="{ backgroundColor: $vuetify.theme.themes.light.primary }"
  )
    notifications(position="top center")
    v-app-bar(
      app
      flat
      color="primary"
      light)
      v-row(type="flex" justify="center")
        img(:src="imagePath('logo-short.png')" style="height: 42px")
    v-content
      v-container(
        fluid
        fill-height)
        v-layout(
          align-center
          justify-center)
          slot
</template>

<script>
export default {
  name: 'CenteredLayout'
}
</script>
