<template lang="pug">
  v-app
    notifications(position="top center")
    v-navigation-drawer(
      v-model="drawer"
      dark
      :mini-variant="mini"
      color="primary"
      permanent
      app)
      v-list(
        class="grow"
        dense)
        v-list-item.mb-10.mt-2
          inertia-link(:href="$routes.root()")
            img(:src="imagePath('logo.png')" style="height: 34px" v-if="!mini")
            img(:src="imagePath('logo-short.png')" style="width: 24px" v-else)
        v-list-item(
          v-for="(item, i) in items"
          :key="i"
          @click="handleClick(item)"
          link
          color="primary")
          v-list-item-icon
            v-icon {{ item.icon }}
          v-list-item-content
            v-list-item-title(v-text="item.title")
    v-app-bar(
      app
      permanent
      flat
      color="primary"
      dark)
      v-app-bar-nav-icon(@click.stop="mini = !mini") 
      v-spacer
      portal-target(name="search" slim)
      v-btn(icon)
        v-icon mdi-apps
      v-btn(icon)
        v-icon mdi-bell
      v-btn(icon @click="logout")
        v-icon mdi-logout
    v-content
      v-container
        portal-target(name="breadcrumb" slim)
        slot
    v-footer(default padless app inset color='white')
      v-col(
        class="text-center"
        cols="12")
        div &copy; {{ new Date().getFullYear() }}
</template>

<script>
export default {
  methods: {
    logout() {
      this.$inertia.delete(this.$routes.destroy_user_session())
    },
    handleClick(item) {
      this.$inertia.visit(item.to, {
        method: 'get',
        replace: false,
        preserveState: true,
        preserveScroll: true
      })
    }
  },
  data() {
    return {
      drawer: true,
      mini: false,
      items: [
        {
          icon: 'apps',
          title: 'Dashboard',
          to: this.$routes.root()
        },
        {
          icon: 'lock',
          title: 'Reports',
          to: this.$routes.reports()
        },
        {
          icon: 'note',
          title: 'Notes',
          to: this.$routes.notes()
        }
      ],
      mini: true
    }
  }
}
</script>
