<template lang="pug">
  div
    breadcrumb(:items="[]")
    hot-table(:data="data" licenseKey='non-commercial-and-evaluation' rowHeaders="true" colHeaders="true")
    remote-notes
</template>

<script>
import { HotTable } from '@handsontable/vue'

import { MainLayout } from '@/layouts'
import RemoteNotes from '@/components/RemoteNotes'

import "handsontable/dist/handsontable.full.css"

export default {

  metaInfo: { title: 'Dashboard' },

  layout: MainLayout,

  components: {
    RemoteNotes,
    HotTable
  },

  data () {
    return {
      data: [
        ["", "Ford", "Volvo", "Toyota", "Honda"],
        ["2016", 10, 11, 12, 13],
        ["2017", 20, 11, 14, 13],
        ["2018", 30, 15, 12, 13]
      ]
    }
  },

  props: {
    git: {
      type: Object,
      required: true,
    }
  }
}
</script>
